{% extends 'base.html' %} {% load static %} {% block meta %}

<title>Account - A-Shop| Ecommerce</title>
{% endblock %} {% block body %}
<!-- header section start -->

{% include 'partials/navbar.html' %}

<!-- ---------Account Page --------- -->

<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<img src="images/image1.png" width="100%" />
			</div>
			<div class="col-2">
				<div class="form-container">
					<div class="form-btn">
						<span onclick="login()">Login</span>
						<span onclick="register()">Register</span>
						<hr id="Indicator" />
					</div>
					<form id="loginForm">
						<input type="text" placeholder="username" />
						<input type="text" placeholder="Email" i />
						<input type="password" placeholder="password" />
						<button type="submit" class="btn">Login</button>
					</form>

					<form method="POST" id="RegForm">
						{% csrf_token %}
						<input type="text" placeholder="username" id="name" />
						<input type="text" placeholder="Email" id="email" />
						<input type="password" placeholder="password" id="password" />
						<a type="submit" class="btn" id="submit">Register</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Footer-->
{% include 'partials/footer.html' %} {% endblock %} {% block scripts %}

<!-- -------js for Toggle Form -->
<script>
	var loginForm = document.getElementById("loginForm");
	var RegForm = document.getElementById("RegForm");
	var Indicator = document.getElementById("Indicator");

	function register() {
		RegForm.style.transform = "translateX(0px)";
		loginForm.style.transform = "translateX(0px)";
		Indicator.style.transform = "translateX(100px)";
	}
	function login() {
		RegForm.style.transform = "translateX(300px)";
		loginForm.style.transform = "translateX(300px)";
		Indicator.style.transform = "translateX(0px)";
	}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

	function  account(){
		name = document.getElementById("name").value;
		email = document.getElementById("email").value;
		password = document.getElementById("password").value;
		csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

	}
	$.ajax({
		type:"POST",
		url:'/account/',
		data:{
			'csrfmiddlewaretoken': csrfmiddlewaretoken,
			'iname':name,
			'iemail':email,
			'ipassword':password.
		},
		success : function(data){
			console.log(data['message'])
			if(data['message'] == "Success")
				window.loaction ="/"

			}
		}
	})
</script>

{% endblock scripts %}
