{% extends 'base.html' %} {% load static %} 
{% block meta %}
<title>A-Shop | Ecommerce</title>
{% endblock %} {% block body %}

<!-- header section start -->
<div class="header">
	{% include 'partials/navbar.html' %}
	<div class="container">
		<div class="row">
			{% for exc in exclusive %}
			<div class="col-2">
				<h1>
					{{ exc.title }} <br />
					a new style!
				</h1>
				<p>{{ exc.desc }}</p>
				<a href="" class="btn">Explore Now &#10132;</a>
			</div>
			<div class="col-2">
				{% if exc.thumbnail %}
				<img src=" {{ exc.thumbnail.url }} " alt="" />
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- header section end -->

<!-- Features categories start -->
<div class="categories">
	<div class="small-container">
		<div class="row">
			{% for category in category %}
			<div class="col-3">
				{% if category.thumbnail %}
				<a href="#"><img src="{{ category.thumbnail.url }}" alt="" /> </a>
				{% endif %}
			</div>

			{% endfor %}
		</div>
	</div>
</div>
<!-- Features categories end -->

<!-- Features product start -->
<div class="small-container">
	<h2 class="title">Featured Products</h2>
	<div class="row">
		{% for product in product %}

		<div class="col-4">
			<a href="{% url 'product-details' product.id %}">
				{% if product.thumbnail %}
				<img src="{{ product.thumbnail.url }}" alt="" />
				{% endif %}
				<h4>{{ product.name }}</h4>
			</a>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>BDT : {{ product.price }} Taka</p>
		</div>

		{% endfor %}
	</div>
</div>

<!-- Features product end -->

{% comment %} <!-- Offer -->
<div class="offer">
	<div class="small-container">
		<div class="row">
			{% for offer in offer %}
			<div class="col-2">
				{% if offer.thumbnail %}

				<img src="{% url 'offer.thumbnail.url' %}" class="offer-img" />
				{% endif %}
			</div>
			<div class="col-2">
				<p>Exclusive available on A-Shop</p>
				<h1>{{ offer.title }}</h1>
				<small> {{ offer.desc }} </small>
				<a class="btn" href="#">Buy Now &#8594;</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div> {% endcomment %}

<!-- ------------------Testimonial---------- -->
<div class="testimonial">
	<div class="small-container">
		<div class="row">
			<div class="col-3">
				<i class="fa fa-quote-left"></i>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
					necessitatibus aperiam libero consequatur totam eveniet aliquid earum
					sapiente commodi quae?
				</p>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
				<img src="{% static 'images/user-1.png'  %} " />
				<h3>Sean Parker</h3>
			</div>
			<div class="col-3">
				<i class="fa fa-quote-left"></i>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
					necessitatibus aperiam libero consequatur totam eveniet aliquid earum
					sapiente commodi quae?
				</p>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
				<img src="{% static 'images/user-3.png'  %} " />
				<h3>Harry Smith</h3>
			</div>
			<div class="col-3">
				<i class="fa fa-quote-left"></i>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
					necessitatibus aperiam libero consequatur totam eveniet aliquid earum
					sapiente commodi quae?
				</p>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
				<img src="{% static 'images/user-2.png'  %} " />
				<h3>Anas Biswas</h3>
			</div>
		</div>
	</div>
</div>
<!-- ------------Brands------------ -->
<div class="brands">
	<div class="small-container">
		<div class="row">
			<div class="col-5">
				<img src="{% static 'images/logo-coca-cola.png'  %} " alt="" />
			</div>
			<div class="col-5">
				<img src="{% static 'images/logo-godrej.png'  %} " alt="" />
			</div>
			<div class="col-5">
				<img src="{% static 'images/logo-oppo.png'  %} " alt="" />
			</div>
			<div class="col-5">
				<img src="{% static 'images/logo-paypal.png'  %} " alt="" />
			</div>
			<div class="col-5">
				<img src="{% static 'images/logo-philips.png'  %} " alt="" />
			</div>
		</div>
	</div>
</div>
<!-- -----------Footer----------- -->
{% include 'partials/footer.html' %} {% endblock %}
