{% extends 'base.html' %} 
{% load static %} 
{% block meta %}

<title>ALL Products- A-Shop | Ecommerce</title>
{% endblock %} 
{% block body %}

<!-- header section start -->

{% include 'partials/navbar.html' %}

<!-- Features product start -->
<div class="small-container">
	<div class="row row-2">
		<h3>Products Name</h3>
		<select>
			<option value="">Select from products</option>
			<option value="">Short from products</option>
			<option value="">Short from price</option>
			<option value="">Short from name</option>
			<option value="">Short from rate</option>
		</select>
	</div>
	<div class="row">
		<div class="col-4">
			<img src="{% static 'images/product-5.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-6.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-7.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-8.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<img src="{% static 'images/product-9.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-10.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-11.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="{% static 'images/product-12.jpg' %}" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="row">
			<div class="col-4">
				<img src="{% static 'images/product-1.jpg' %}" alt="" />
				<h4>Red Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="{% static 'images/product-2.jpg' %}" alt="" />
				<h4>Red Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="{% static 'images/product-3.jpg' %}" alt="" />
				<h4>Red Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<p>$50.00</p>
			</div>
			<div class="col-4">
				<img src="{% static 'images/product-4.jpg' %}" alt="" />
				<h4>Red Printed T-Shirt</h4>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<p>$50.00</p>
			</div>
		</div>

		<div class="page-btn">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>&#8594;</span>
		</div>
	</div>
</div>

<!-- -----------Footer----------- -->
{% include 'partials/footer.html' %} 
{% endblock %}
