{% extends 'base.html' %} {% load static %} {% block meta %}

<title>ALL Products- A-Shop | Ecommerce</title>
{% endblock %} {% block body %}

<!-- header section start -->

{% include 'partials/navbar.html' %}

<!-- Features product start -->
<div class="small-container">
	<div class="row row-2">
		<h3>Products Name</h3>
		<select>
			<option value="">Select from products</option>
			<option value="">Short from products</option>
			<option value="">Short from price</option>
			<option value="">Short from name</option>
			<option value="">Short from rate</option>
		</select>
	</div>
	<div class="row">
		{% for product in products %} {% if product.thumbnail %}
		<div class="col-4">
			<img src="{{ product.thumbnail.url }}" alt="" />
			{% endif %}
			<h4>{{ product.name }}</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>BDT: {{ product.price }} Taka</p>
		</div>
		{% endfor %}

		<div class="page-btn">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>&#8594;</span>
		</div>
	</div>
</div>

<!-- -----------Footer----------- -->
{% include 'partials/footer.html' %} {% endblock %}
