{% extends 'base.html' %} {% load static %} {% block meta %}
<title>ALL Products- A-Shop | Ecommerce</title>

{% endblock %} {% block body %}

<!-- header section start -->

<div class="container">{% include 'partials/navbar.html' %}</div>

<!-- -------------------Single product details ----------- -->
<div class="small-container single-product">
	<div class="row">
		<div class="col-2">
			<img
				src=" {{ prod.thumbnail.url }}"
				width="100%"
				alt=""
				id="productimg"
			/>

			<div class="small-img-row">
				<div class="small-img-col">
					<img
						src="images/gallery-1.jpg"
						width="100%"
						alt=""
						class="small-Img"
					/>
				</div>
				<div class="small-img-col">
					<img
						src="images/gallery-2.jpg"
						width="100%"
						alt=""
						class="small-Img"
					/>
				</div>
				<div class="small-img-col">
					<img
						src="images/gallery-3.jpg"
						width="100%"
						alt=""
						class="small-Img"
					/>
				</div>
				<div class="small-img-col">
					<img
						src="images/gallery-4.jpg"
						width="100%"
						alt=""
						class="small-Img"
					/>
				</div>
			</div>
		</div>
		<div class="col-2">
			<p>Products</p>
			<h1>{{ prod.name }}</h1>
			<p style="display: none" id="prodid">{{ prod.id }}</p>
			<h4>Price: {{ prod.price }} BDT</h4>
			<select id="size" name="" id="">
				<option value="">Select Size</option>
				<option value="xxl">XXL</option>
				<option value="xl">XL</option>
				<option value="">Medium</option>
				<option value="l">Large</option>
				<option value="sm">Small</option>
			</select>
			<input id="qty" type="number" value="1" />
			<a
				id="cart-add"
				data-product="{{ product.id }}"
				data-action="add"
				class="btn update-cart"
			>
				Add To Cart</a
			>
			<button id="chk">click</button>
			<br />
			<h3>Product Details <i class="fa fa-indent"></i></h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut debitis
				vitae deserunt, repellat quisquam ab possimus voluptatem nemo ipsam
				maiores.
			</p>
		</div>
	</div>
</div>
<!-- ------Title---- -->
<div class="small-container">
	<div class="row row-2">
		<h2>Related - Products</h2>
		<p>View More</p>
	</div>
</div>

<!-- Product -->

<div class="small-container">
	<div class="row">
		<div class="col-4">
			<img src="images/product-9.jpg" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="images/product-10.jpg" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="images/product-11.jpg" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
		<div class="col-4">
			<img src="images/product-12.jpg" alt="" />
			<h4>Red Printed T-Shirt</h4>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-half-o"></i>
				<i class="fa fa-star-o"></i>
			</div>
			<p>$50.00</p>
		</div>
	</div>
</div>

<!-- -----------Footer----------- -->
{% include 'partials/footer.html' %}

<!-- -----Js for product galley -->

{% endblock %} 

{% block script %}

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

<script>
	var productimg = document.getElementById("productimg");
	var smallImg = document.getElementsByClassName("small-Img");

	smallImg[0].onclick = function () {
		productimg.src = smallImg[0].src;
	};
	smallImg[1].onclick = function () {
		productimg.src = smallImg[1].src;
	};
	smallImg[2].onclick = function () {
		productimg.src = smallImg[2].src;
	};
	smallImg[3].onclick = function () {
		productimg.src = smallImg[3].src;
	};
</script>

<script>

	$("#cart-add").on("click", function () {
		console.log("ok");
		var prodid = $("#prodid").text();
		var qty = $("#qty").val();
		var size = $("#size").val();
		var data = {
			csrfmiddlewaretoken: "{{ csrf_token }}",
			prodid: prodid,
			qty: qty,
			size: size,
		};
		$.ajax({
				url: '{% url "add_item" %}',
				type: "POST",
				data: data,
			})
			.done(function (res) {
				console.log(res);
			})
			.fail(function () {
				console.log("errrrrrrrrrrrrrrrrrrrrrrrr");
			});
	});
</script>
{% endblock script %}
